@model CategoryIndexVm;

<h1>Categories</h1>

<p>
    @Html.ActionLink("Create new category", "Create")
</p>


<table>
    <thead>
        <tr>
            <th>Category name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id">
                        @category.Name
                    </a>
                </td>
                <td><button type="button" class="btn btn-danger">
                        <a asp-action="Delete" asp-route-id="@category.Id"
                            style="color: white; text-decoration: none;">Delete</a>
                    </button></td>
            </tr>
        }
    </tbody>
</table>